body {
  font-family: Arial, sans-serif;
  background: #e3f2fd;
  text-align: center;
  padding-top: 50px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  width: 70%;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  background-color: #4070f4;
  color: #ffffff;
}

.weather-info {
  margin-top: 20px;
}
